.weekblock {
    display: flex;
    
    background-color: #213949;
    width: 270px;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    color: rgb(205, 209, 214);
    box-shadow:  0px 0.5px 0.3px #11212b;
    padding: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    

    
}

.weekblock p{
    margin: 0;
    padding-top: 16px;
}

.weekblock img{
    height: 10px;
    padding: 18px 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.weekCon{
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
}

.weekblock:hover{
    background-color: rgb(41, 120, 126);
}


   
    



.days{
    height: 250px;
    width: 270px;
    border: 5px solid rgb(38, 115, 122);
    margin: 10px auto;
    border-radius: 5px;
}

.days:hover{
    transform: scale3d(1.02, 1.02, 1.02);
}


.dayName{
    color: #213949;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 0px;
    font-size: 90%;
    font-weight: bold;
}

/* E54693*/