.wrapper{
    margin: 10px;
    height: 500px;
    border-radius: 5px;
    background-color: #244056;
    display: flex;
    flex-direction: column;
    
}

.infoBox {
    float: left;
    width: 500px;
    line-height: 10px;
    margin-left: 10px;
}

.one{
    display: flex;
    flex-direction: row;
}

.addQ{
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 100%;
    font-family: 'Gilroy-Light';
    background-color: lightseagreen;
    border: none;
    width: 200px;
    margin-top: 30px;
    line-height: 30px;
}

.asked{
    color: white;
}

.answered {
    color: lightgreen;
}

.help {
    color: lightcoral;
}

.minipic{
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgreen;
}

.blockBox {
    width: 90%;
    margin: 5px auto;
    display: flex;
    border-top: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
}

.questiontitlebox{
    margin-left: 20px;
    line-height: 10px;
    color: whitesmoke;
    margin: 10px 20px;;
}

.title{
    font-weight: bold;
}