.iconz{
    text-align:center;
    
    
}

.iconz img{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 20px;
   
}

.box {
    border-radius: 10px 0px 0px 10px;
    /*box-shadow:  0.1px 1px 0.3px inset #20394c;*/
    
    
}

.iconz:hover{
    cursor: pointer;
}