.farleft{
    width: 50px;
    background-color: #182C3A;
    left: 0;
    position: relative;
}

.imgHighlighted {
    background-color: #1F374A;
}

.imgUnhighlighted{
    background-color: #28465E;
}

.up{
    margin-top: 90px;

}