.farleft{
    width: 75px;
    background-color: #28465E;
    left: 0;
    position: relative;
}

.imgHighlighted {
    background-color: #1F374A;
}

.imgUnhighlighted{
    background-color: #28465E;
}

.up{
    margin-top: 30px;
}